.navbar a{
    margin-left: 1em;
    text-decoration: none;
    /* color: rgba(255, 255, 255, 0.678); */
    color: white;
    font-size: 1.2em;
}

.navbar a:hover{
    text-decoration: underline var(--verdeLogo) 3px;
}

