.navbar a{
    margin-left: 1em;
    text-decoration: none;
    /* color: rgba(255, 255, 255, 0.678); */
    color: white;
    font-size: 1.2em;
}

.navbar a:hover{
    text-decoration: underline var(--verdeLogo) 3px;
}

.botaoLogout{
    background-color: #29B473;
    font-weight: bold;
    width: 80px;
    border: none;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
    margin-left: 1em;
}

.botaoLogout:hover{
    background-color: #1c7d50;
}

